@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

header {
    text-align: center;
    color: black;
    font-family: Pinyon Script, sans-serif;
    font-size: 60px;
    padding-top: 20px;
    margin-right: 100px;
}

.icon-logo {
    height: 150px;
    margin-left: 20px;
    margin-top: -40px;
    float: left;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    nav ul {
        display: flex;
        list-style: none;
    }

        nav ul li {
            margin-left: 10px;
            font-size: 18px;
            display: inline;
        }

            nav ul li :first-child {
                margin-left: 0;
                margin: 60px;
            }

            nav ul li a {
                color: black;
                text-decoration: none;
                padding-bottom: 30px;
                padding: 2px;
            }

            nav ul li:hover {
                background-color: lightgrey;
            }


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px, 8px, 16px, 0px, rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a:hover {
    background-color: lightgray;
}

#hero-image {
    height: 660px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-outer {
    height: 660px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text,
#cover-text h2 {
    color: black;
}

#cover-text {
    font-size: 130%;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    /*text box*/
    width: 550px;
    height: 120px;
    padding-top: 30px;
    padding-left: 10px;
    background-color: rgba(252, 253, 255, 0.7);
    top: 10%;
    left: 80px;
    position: absolute;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../img/main.webp') no-repeat center right;
    animation-name: hero-zoom;
    animation-duration: 13s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}


/*main page circle img*/

#set {
    height: 550px;
    margin-top: 40px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}


.left-about-heading {
    width: 60%;
    float: right;
    clear: both;
    margin-bottom: 50px;
    line-height: 20px;
}


.right-about-heading {
    width: 60%;
    float: left;
    clear: both;
    margin-bottom: 50px;
    line-height: 20px;
}

    .right-about-heading h2 {
        text-align: right;
    }

right-about-heading p {
    text-align: right;
}

#why {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#because {
    text-align: center;
    margin: 40px 0;
}

#set i {
    padding: 10px;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../img/circle.jpeg') no-repeat center right;
    height: 100%;
    border-radius: 50%;
}


footer {
    height: 150px;
    background-color: grey;
    margin-top: 30px;
}

    footer p {
        text-align: center;
        padding-bottom: 20px;
    }

.social-networks {
    text-align: center;
}

    .social-networks li {
        display: inline;
    }

    .social-networks i {
        font-size: 160%;
        margin: 1%;
        padding: 5%;
        color: white;
    }

/*sale page*/

.sale-background {
    height: 600px;
    width: 100%;
}

.boxes {
    margin-top: 5px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax (200px, 1fr));
}

.box {
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

    .box > img {
        max-width: 100%;
        padding-top: 30px;
        height: auto;
    }

    .box > h3 {
        padding-top: 30px;
    }

    .box p {
        padding-top: 10px;
        font-family: Open San, sans-serif;
    }

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

    .gallery img {
        width: 300px;
        height: 200px;
        margin: 10px;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
        transition: transform 0.3s ease-in-out;
    }

    .gallery.caption {
        margin-top: 5px;
        font-size: 14px;
        text-align: center;
    }

    .gallery .image-container:hover img {
        transform: scale(1.05);
    }


/*map in contact us*/

.map-heading {
    text-align: center;
    padding: 50px 0;
}

#map {
    height: 425px;
    width: 100%;
    border: none;
}

.contactus {
    font-weight: 600;
    text-align: center;
}

.contactlist li {
    display: inline;
    margin: 50px;
    margin: 20px;
}

.contactus h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-section {
    clear: left;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

.contact-us-form {
    margin: 100px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 500px;
    position: absolute;
    right: 10%;
    padding: 30px;
}

    .contact-us-form h2 {
        color: #fafafa;
        margin-bottom: 20px;
    }

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

    .text-input::placeholder {
        font-family: Open Sana, sans-serif;
        color: #fafafa;
    }

text-input:hover {
    border-color: #3a3a3a;
}

.hear-about {
    margin-top: 10px;
}

.button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #3a3a3a;
    color: #fafafa;
    display: block;
}

    .button:hover {
        background-color: #fafafa;
        color: #3a3a3a;
    }

#body-contact {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea.textarea-input {
    height: 100px;
    resize: none;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

textarea::placeholder {
    color: #fafafa;
}

.contact-us-background {
    height: 50%;
    width: 100%;
}

/*women handbag background*/
.women-handbag-background {
    height: 600px;
    width: 100%;
}

.container {
    align-items: center;
    display: flex;
    height: 70%;
    width: 100px;
    background-color: #ccc;
    justify-content: center;
}

/*video background*/
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
/*about us*/
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin-top: 30px;
}

    .text p {
        font-size: 30px;
        color: white;
        font-weight: 600;
    }



.click {
    display: inline-block;
    text-decoration: none;
    background-color: lightgrey;
    color: rgb(52, 48, 48);
    font-size: 24px;
    border: 5px solid white;
    padding: 8px 30px;
    border-radius: 30px;
    margin-top: 20px;
}

/*click here*/
.clickhere {
    width: auto;
    height: auto;
    border: 2px solid black;
    margin: 30px;
}

    .clickhere header h4 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        float: left;
        padding-top: 10px;
        padding-left: 30px;
    }

article header h6 {
    text-align: left;
    padding-left: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 90px;
}

.explain {
    text-align: justify;
    padding-left: 10px;
    margin: 20px;
}

.list {
    padding-left: 20px;
}

    .list li {
        margin: 30px;
    }

.leatherman {
    float: right;
    height: 550px;
    width: 450px;
    margin-right: -80px;
    margin-bottom: 20px;
}

/*women wallet background*/
.women-wallet-background {
    height: 600px;
    width: 100%;
}

/*men wallet background*/
.men-wallet-background {
    height: 600px;
    width: 100%;
}

/*men watch background*/
.men-watch-background {
    height: 600px;
    width: 100%;
}
